@model IEnumerable<DoseBookAdmin.ViewModels.Doctors.Doctor>
    @{
        ViewData["Title"] = "Doctors";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <div class="top_filter_bar">
        <div class="center_wrap">

            <div class="top_filter_left">
                <button type="button" class="add_new_list_item" onClick="window.location.href='@Url.Action("AddDoctor","Doctor")'">Add New</button>
                <button id="btnDeleteAllCheckedDoctor" type="button" class="delete_list_item">Delete</button>
            </div>

            <div class="top_filter_right">
                <div class="form_group">
                    <fieldset>
                        <input type="text" id="txtSearchDoctorList" class="form-control" placeholder="Search">
                        <input type="button" class="search_btn" value="go" />
                    </fieldset>
                </div>
            </div>

        </div>
    </div>
    <!--End top_filter_bar-->


    <div class="full_width">
        <div class="center_wrap">

            <div class="content_wrap">

                <div class="page_heading">
                    <h1>Doctors </h1>
                </div>
                <!--End page_heading-->

                <div class="table_wrap">
                    <table id="tblDoctors" class="table">
                        <thead>
                            <tr>
                                <th>
                                    <div class="table_checkbox">
                                        <input type="checkbox" id="checkall" class="check_all">
                                        <label for="checkall">Accept</label>
                                    </div>
                                </th>
                                <th>
                                    <button type="button" class="table_title active"><i class="icon asc"></i>Doctor Name</button>
                                </th>
                                <th>
                                    <button type="button" class="table_title"><i class="icon"></i>Contact No</button>
                                </th>
                                <th class="editEndUser" style="width:75px;text-align: center;">Edit</th>
                                <th class="deleteEndUser" style="width:75px;text-align: center;">Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var doctor in Model)
                            {
                            <tr>
                                <td>
                                    <div class="table_checkbox">
                                        <input type="checkbox" id="checkitem1" class="check_item">
                                        <label for="checkitem1"></label>
                                    </div>
                                </td>
                                <td>@doctor.DoctorName</td>
                                <td>@doctor.TelephoneNumber</td>
                                <td style="width:75px;text-align: center;">
                                    <button type="button" class="edit_item" onClick="window.location.href='@Url.Action("EditDoctor","Doctor",new { Id=doctor.DoctorId})'">Edit</button>
                                </td>
                                <td style="width:75px;text-align: center;">
                                    <span style="display:none">@doctor.DoctorId</span>
                                    <button type="button" class="delete_item doctorItem">delete</button>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>




            </div>
            <!--End content_wrap-->



        </div>
        <!--End center_wrap-->

    </div>
    <!--End full_width-->
    <!--Modal Popup-->
    <script src="~/js/Doctor/doctor.doctors.js" asp-append-version="true"></script>

