@using PickfordsIntranet.ViewModels.Rewards
@model PickfordsIntranet.ViewModels.Rewards.RewardVM
@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<form id="formAddReward">
    <div class="tab_menu">
        <div class="center_wrap">

            <button type="button" class="back_btn" onClick="window.location.href='@Url.Action("Rewards","Reward")'">Back</button>

            <ul class="tab_list">
                <li class="current"><a href="#tab_1">User Details</a></li>
            </ul>

            <button id="btnSave" type="button" class="tab_save">Save</button>

            @*<button type="button" class="delete_btn">delete</button>*@



        </div>
    </div>
    <!--End tab_menu-->

    <div class="full_width">
        <div class="center_wrap">

            <div class="content_wrap">

                <div class="page_heading">
                    <h1>Add/Edit Rewards</h1>
                </div>
                <!--End page_heading-->

                <div class="form_wrap">

                    <div class="tab_content" id="tab_1">

                        <div class="form_fields_box">
                            <fieldset>
                                <div class="form_field">
                                    <label for="Id">Reward ID </label>
                                    <input asp-for="Id" type="text" disabled>
                                </div>

                                <div class="form_field">
                                    <label for="News_Title">Select Reward Recipient*</label>

                                    <div class="search_award_recipt">
                                        <input id="News_Title" type="text" onkeypress="SearchUserListOnEnterForRewardEdit(event)">
                                        <input id="RecipientByNamesearchBtn" type="button" class="search_filter_btn">
                                    </div>
                                </div>

                                <div class="reward_rept__list_wrap">

                                </div>

                                <div class="reward_rept_item">

                                    <div class="rept_item_img">
                                        <img src="/fileserver/Uploads/Images/FrontEndUser/@Model.RecipientImage" alt="" />
                                        <input id="hiddenIdSelectedEndUser" type="hidden" val="@Model.RecipientId" />
                                    </div>
                                    <div class="rept_item_text">
                                        <div><strong>Reward Recipient:<span class="recipientName"> @Model.RecipientName </span></strong></div>
                                        <div> @Model.RecipientPost</div>
                                        <div style="margin-bottom: 10px;">@Model.RecipientPlace</div>
                                        <div style="font-size: 14px;"><a href="#">@Model.RecipientEmail</a></div>

                                    </div>
                                </div>


                            </fieldset>

                        </div>
                        <!--End form_fields_box-->

                        <div class="form_fields_box">
                            <fieldset>


                                <div class="form_field">
                                    <label for="User_Type">
                                        Value*
                                        <small class="info_icon" data-toggle="tooltip" data-placement="right" title="(Required) Select the value type">Tooltip</small>
                                    </label>
                                    <div class="select_div">

                                        <select asp-for="ValueId"
                                                asp-items="@(new SelectList(Model.Values,"Key", "Value"))"></select>
                                    </div>
                                </div>

                                <div class="form_field">
                                    <label for="User_Type">
                                        Reward Type*
                                        <small class="info_icon" data-toggle="tooltip" data-placement="right" title="(Required) Select the reward type.">Tooltip</small>
                                    </label>
                                    <div class="select_div">
                                        <select asp-for="AwardId"
                                                asp-items="@(new SelectList(Model.Award,"Key", "Value"))"></select>
                                        <span class="error_label" id="lblAwardError"></span>
                                    </div>
                                </div>
                                @if (Model.RewardAmountType == RewardAmountTypeEnum.Dropdown)
                                {
                                    <div class="form_field" id="divRewardAmountDropDown">
                                        <label for="User_Type">
                                            Amount*
                                            <small class="info_icon" data-toggle="tooltip" data-placement="right" title="(Required) Select the amount.">Tooltip</small>
                                        </label>
                                        <div class="select_div">
                                            <select asp-for="SelectedRewardAmount" id="RewardAmount"
                                                    asp-items="@(new SelectList(Model.RewardAmountList, "RewardAmountValue", "RewardAmountText" ))"></select>
                                            <span class="error_label" id="lblRewardAmountDropDownError"></span>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="form_field" id="divRewardAmountDropDown" style="display:none;">
                                        <label for="User_Type">
                                            Amount*
                                            <small class="info_icon" data-toggle="tooltip" data-placement="right" title="(Required) Select the amount.">Tooltip</small>
                                        </label>
                                        <div class="select_div">
                                            <select asp-for="SelectedRewardAmount" id="RewardAmount"
                                                    asp-items="@(new SelectList(Model.RewardAmountList, "RewardAmountValue", "RewardAmountText"))"></select>
                                            <span class="error_label" id="lblRewardAmountDropDownError"></span>
                                        </div>
                                    </div>

                                }

                                @if (Model.RewardAmountType == RewardAmountTypeEnum.Textbox)
                                {
                                    <div class="form_field" id="divRewardAmountTextBox">
                                        <label for="User_Type">
                                            Amount*
                                            <small class="info_icon" data-toggle="tooltip" data-placement="right" title="(Required) Enter the amount.">Tooltip</small>
                                        </label>

                                        <div class="input-group">
                                            <span class="input-group-addon">£</span>
                                            @*<input asp-for="RewardAmountVariable" type="number" value="" step=".01" min="0" max="100">*@
                                            @Html.TextBoxFor(m => m.RewardAmountVariable, new { type = "number", min = "0", max = "100", step = ".01" })

                                        </div>
                                        <span class="error_label" id="lblRewardAmountTextBoxError"></span>
                                    </div>
                                }

                                else
                                {
                                    <div class="form_field" id="divRewardAmountTextBox" style="display:none;">
                                        <label for="User_Type">
                                            Amount*
                                            <small class="info_icon" data-toggle="tooltip" data-placement="right" title="(Required) Enter the amount.">Tooltip</small>
                                        </label>

                                        <div class="input-group">
                                            <span class="input-group-addon">£</span>
                                            <input asp-for="RewardAmountVariable" type="number" value="" step=".01" min="0" max="100">

                                        </div>
                                        <span class="error_label" id="lblRewardAmountTextBoxError"></span>
                                    </div>

                                }

                                <div class="form_field rewards_testi-1">
                                    <label for="User_FirstName">
                                        Testimonial
                                        <small class="info_icon" data-toggle="tooltip" data-placement="right" title="(Required) First Name.">Tooltip</small>
                                    </label>
                                    <textarea asp-for="Testimonial" type="text"></textarea>
                                    <span class="error_label" asp-validation-for="Testimonial"></span>
                                </div>

                                <div class="form_field rewards_testi-2">
                                    <label for="User_FirstName">
                                        Thank You Message
                                        <small class="info_icon" data-toggle="tooltip" data-placement="right" title="(Required) First Name.">Tooltip</small>
                                    </label>
                                    <textarea asp-for="ThankYouMsg" type="text"></textarea>
                                    <span class="error_label" asp-validation-for="ThankYouMsg"></span>
                                </div>

                                @Html.Hidden("hdnIsRewardSend",Model.IsSend)
                                @if (Model.IsSend == false)
                                {
                                    <div class="form_field send_award">
                                        <button id="btnSendEmail" type="button" disabled class="btn_field">Send Reward</button>
                                    </div>
                                }
                                else
                                {
                                    <div class="form_field">
                                        <button class="custom_form_btn" type="button" disabled>Send Reward</button>

                                    </div>
                                }

                            </fieldset>

                        </div>
                        <!--End form_fields_box-->

                    </div>



                </div>
                <!--End forom_wrap-->


            </div>
            <!--End content_wrap-->


        </div>
        <!--End center_wrap-->
    </div>

</form>
<!--End full_width-->

<script src="~/js/Rewards/editReward.js" asp-append-version="true"></script>