@model PickfordsIntranet.ViewModels.SuperAdmin.AdminUserVM
@{
    ViewData["Title"] = "Edit Admin Users";
}

<link href="~/lib/multiselect-Checkbox/jquery.multiselect.css" asp-append-version="true" rel="stylesheet" />
<form id="formAdminUser" name="formAdminUser" data-ajax="true" data-ajax-method="POST">
    <div class="tab_menu">
        <div class="center_wrap">

            <button type="button" class="back_btn" onClick="window.location.href='@Url.Action("AdminUsers","SuperAdmin")'">Back</button>

            <ul class="tab_list">
                <li class="current"><a href="#tab_1">User Details</a></li>
            </ul>

            <button id="btnUpdate" type="button" class="tab_save">Update</button>

            @*<button type="button" class="delete_btn">delete</button>*@



        </div>
    </div>
    <!--End tab_menu-->

    <div class="full_width">
        <div class="center_wrap">

            <div class="content_wrap">

                <div class="page_heading">
                    <h1>Edit Admin Users</h1>
                </div>
                <!--End page_heading-->

                <div class="form_wrap">

                    <div class="tab_content" id="tab_1">

                        <div class="form_fields_box">
                            <fieldset>
                                <div class="form_field">
                                    <label for="User_ID">User ID </label>
                                    <input asp-for="Id" type="text" disabled>
                                    <input type="hidden" asp-for="Id" />
                                </div>
                                <div class="form_field">
                                    <label for="User_FirstName">
                                        First Name*
                                        <small class="info_icon" data-toggle="tooltip" data-placement="right" title="(Required) First Name.">Tooltip</small>
                                    </label>
                                    <input asp-for="FirstName" type="text">
                                    <span class="error_label" asp-validation-for="FirstName"></span>
                                </div>

                                <div class="form_field">
                                    <label for="User_SecondName">
                                        Surname*
                                        <small class="info_icon" data-toggle="tooltip" data-placement="right" title="(Required) Surname.">Tooltip</small>
                                    </label>
                                    <input asp-for="Surname" type="text">
                                    <span class="error_label" asp-validation-for="Surname"></span>
                                </div>

                                <div class="form_field">
                                    <label for="User_EmailAddress">
                                        Email Address*
                                        <small class="info_icon" data-toggle="tooltip" data-placement="right" title="(Required) Email Address.">Tooltip</small>
                                    </label>
                                    <input asp-for="EmailAddress" type="text">
                                    <span class="error_label" asp-validation-for="EmailAddress"></span>
                                </div>



                            </fieldset>

                        </div>
                        <!--End form_fields_box-->

                        <div class="form_fields_box">
                            <fieldset>


                                <div class="form_field multiselect_row">
                                    <label for="User_Type">
                                        Type*
                                        <small class="info_icon" data-toggle="tooltip" data-placement="right" title="(Required) Select the user type">Tooltip</small>
                                    </label>
                                    <div>
                                        <input type="hidden" asp-for="AllSelectedRoleTypes" />
                                        <select asp-for="RoleId" multiple="multiple"
                                                asp-items="@(new SelectList(Model.AllRoles,"RoleId", "RoleName"))"></select>
                                        <span class="error_label" id="lblRoletypeError"></span>
                                    </div>
                                </div>
                                @if (Model.IsLineManagerUser)
                                {
                                    <div class="form_field" id="divLineManagerCan">
                                        <label for="User_LineManagerCan">
                                            Line Manager can*
                                            <small class="info_icon" data-toggle="tooltip" data-placement="right" title="(Required) Select the Recognise Only OR Recognise and Reward both option.">Tooltip</small>
                                        </label>
                                        <div class="select_div">
                                            <select asp-for="LineManagerCanSelectOption"
                                                    asp-items="@(new SelectList(Model.LineManagerCanOptionList,"LineManagerCanValue", "LineManagerCanText"))"></select>
                                            <span class="error_label" id="lblLineManagerCanError"></span>
                                        </div>
                                    </div>

                                }

                                else
                                {
                                    <div class="form_field" id="divLineManagerCan" style="display:none;">
                                        <label for="User_LineManagerCan">
                                            Line Manager can*
                                            <small class="info_icon" data-toggle="tooltip" data-placement="right" title="(Required) Select the Recognise Only OR Recognise and Reward both option.">Tooltip</small>
                                        </label>
                                        <div class="select_div">
                                            <select asp-for="LineManagerCanSelectOption"
                                                    asp-items="@(new SelectList(Model.LineManagerCanOptionList,"LineManagerCanValue", "LineManagerCanText"))"></select>
                                            <span class="error_label" id="lblLineManagerCanError"></span>
                                        </div>
                                    </div>

                                }

                                <div class="form_field">
                                    <label for="User_Type">
                                        Department*
                                        <small class="info_icon" data-toggle="tooltip" data-placement="right" title="(Required) Select the department for this admin user. Select ALL if Super Administrator.">Tooltip</small>
                                    </label>
                                    <div class="select_div">
                                        @if (Model.RoleId == 1 || Model.RoleId == 3)
                                        {
                                            <select asp-for="DepartmentId" disabled
                                                    asp-items="@(new SelectList(Model.AllDepartments, "DepartmentId", "DepartmentName"))"></select>
                                        }
                                        else
                                        {

                                            <select asp-for="DepartmentId"
                                                    asp-items="@(new SelectList(Model.AllDepartments, "DepartmentId", "DepartmentName"))"></select>
                                        }
                                        <span class="error_label" id="lblDepartmentError"></span>
                                    </div>
                                </div>

                                <div class="form_field">
                                    <label for="User_Status">
                                        Status*
                                        <small class="info_icon" data-toggle="tooltip" data-placement="right" title="(Required) Select the status of the user.">Tooltip</small>
                                    </label>
                                    <div class="select_div">
                                        <select asp-for="StatusId"
                                                asp-items="@(new SelectList(Model.AllStatus,"StatusId", "StatusName"))"></select>
                                    </div>
                                </div>

                                <div class="form_field">
                                    <button id="btnUpdateWithSendMail" type="button" class="btn_field">Send Login Email</button>
                                </div>

                            </fieldset>

                        </div>
                        <!--End form_fields_box-->

                    </div>



                </div>
                <!--End forom_wrap-->


            </div>
            <!--End content_wrap-->


        </div>
        <!--End center_wrap-->
    </div>

</form>


<link href="~/lib/multiselect-Checkbox/bootstrap-multiselect.css" rel="stylesheet" />
<script src="~/lib/multiselect-Checkbox/bootstrap-multiselect.js"></script>
@*<script src="~/lib/multiselect-Checkbox/jquery.multiselect.js"></script>*@
<script src="~/js/Admin/admin.editAdminUser.js"></script>

<style type="text/css">
    .multiselect-container {
        width: 100% !important;
    }
</style>