@model PickfordsIntranet.ViewModels.Auth.ResetPasswordVM
@{
    Layout = null;
}

<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Pickfords Intranet</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" asp-append-version="true"/>
</head>

<body>

    <div class="main_wrapper">

        <div class="header">

            <div class="center_wrap">
                <div class="top_menu">
                    <a href="@Url.Action("Dashboard","Home")" class="logo"><img src="/images/pickfords_logo_w.png" alt="pickfords" /></a>
                    <div class="extra_links">
                        <a href="#" style="padding-top: 10px;text-decoration: none !important"><span>Intranet Admin</span></a>
                    </div>
                </div>

            </div>
        </div>
        <div class="full_width">
            <div class="banner" style="background-image:url(@Url.Content("~/images/filter_banner.jpg"));"></div>
            <div class="center_wrap">

                @if (@ViewBag.IsTokenValid == true)
                {
                    <div class="content_wrap login_content">

                        <div class="page_heading">
                            <h2>Reset your password</h2>
                        </div>
                        <!--End page_heading-->

                        <form id="formResetPassword" asp-controller="Account" asp-action="ResetYourPassord"
                              data-ajax-begin="onBegin" data-ajax-complete="onComplete"
                              data-ajax-failure="onFailed" data-ajax-success="onSuccess"
                              data-ajax="true" data-ajax-method="POST">
                            <div class="form_wrap">
                                <input type="hidden" asp-for="Token" />
                                <div class="login_panel">
                                    @if (@TempData["Message"] != null)
                                    {
                                        <p class="alert alert-danger">@ViewBag.Message</p>
                                    }

                                    <div class="form_fields_box">
                                        <fieldset>

                                            <div class="form_field">
                                                <label for="newPwd">New password</label>
                                                <input asp-for="NewPassword" type="password">
                                                <span class="error_label" asp-validation-for="NewPassword"></span>

                                            </div>

                                            <div class="form_field">
                                                <label for="confPwd">Confirm password</label>
                                                <input type="password" asp-for="ConfirmPassword" />
                                                <span class="error_label" asp-validation-for="ConfirmPassword"></span>
                                            </div>

                                            <div class="form_field">
                                                <button type="submit" class="btn_field">SUBMIT</button>
                                            </div>



                                        </fieldset>

                                    </div>
                                    <!--End form_fields_box-->

                                </div>


                            </div>
                            <!--End forom_wrap-->
                        </form>




                    </div>
                    <!--End content_wrap-->
                }

                else
                {
                    <div class="content_wrap login_content">
                        <div class="page_heading">
                            <h2>Reset your password</h2>
                        </div>
                        <!--End page_heading-->
                        <div class="form_wrap">
                            <div class="login_panel">
                                <div class="form_fields_box" style="text-align: center; padding-top: 40px">
                                    <fieldset>
                                        <div class="form_field">
                                            Your passsword reset request has expired. Please request the forget password again.

                                        </div>
                                        <div class="form_field">
                                            <a href="/Account/Login">Click here</a> to re-generate the password  or login here.

                                        </div>
                                    </fieldset>

                                </div>
                                <!--End form_fields_box-->

                            </div>
                        </div>
                    </div>



                }

            </div>
            <!--End center_wrap-->
        </div>


    </div>
    <!--End main_wrapper-->
    <div id="progress" class="loaderModal">
        <div class="loaderCenter">
            <img src="~/images/loader4.gif" />
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/jquery.unobtrusive-ajax.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/js/sweetalert2.js"></script>
    <script src="~/js/sweetalert2.promise.min.js"></script>
    <script src="~/js/Admin/account.resetPassword.js" asp-append-version="true"></script>
</body>

</html>